{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex w-[90%] m-auto">
    <div class="mt-16 w-[1125px] h-[1030px] z-20 bg-white m-auto rounded-[10px]">
        <div class="flex flex-col w-[90%] h-full m-auto Montserrat mt-10" id="booking-details"> 
            <span class="text-[26px] font-bold">Booking Details</span>
            <div class="grid-cols-2 grid">
                <div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Booking ID</b></span>
                        <span>{{ bookingDetails.id }}</span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Customer</b></span>
                        <span>{{ profileData.profileId.firstName }} {{ profileData.profileId.MiddleName }} {{ profileData.profileId.lastName }}</span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Date and Time</b></span>
                        <span id="booking-date">{{ bookingDetails.date }} | {{ bookingDetails.time }}</span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Service</b></span>
                        <span>{{ bookingDetails.serviceId.serviceName }}</span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Location</b></span>
                        <span>{{ bookingDetails.locationId.location }}</span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Address</b></span>
                        <span>{{ profileData.streetAddress }}</span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Contact Number</b></span>
                        <span>{{ profileData.profileId.mobileNum }}</span>
                    </div>
                </div>
                <div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Assigned Employee</b></span>
                        <span></span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Base Price</b></span>
                        <span>Php. {{ bookingDetails.serviceId.priceRange }}</span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Service Fee</b></span>
                        <span></span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Additional Fees</b></span>
                        <span></span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Total</b></span>
                        <span></span>
                    </div>
                    <div class="mt-8 text-[20px] ml-8 flex flex-col">
                        <span><b>Booking Status</b></span>
                        <span>{{ bookingDetails.status }}</span>
                    </div>
                </div>
            </div>
            <div class="m-auto flex flex-row gap-[10px] text-white">
                <a href="{% url 'user-bookings' %}"
                class="cursor-pointer ml-2 rounded-[10px] p-5 w-[120px] h-[50px] bg-[#00AEEF] mt-5 auto-align-middle-row gap-[15px] text-[17px] hover:gap-[25px] transition-auto"><i class="fa-solid fa-angle-left"></i>
                Back</a>
                {% if bookingDetails.status == "Paid" %}
                <button
                onclick="generateReceipt()"
                class="cursor-pointer ml-2 rounded-[10px] p-5 w-[120px] h-[50px] bg-[#00AEEF] mt-5 auto-align-middle-row text-[17px] hover:text-[18px] transition-auto">
                Receipt</button>
                {% endif %}
            </div>
        </div>
        <div class="flex-col w-[90%] h-full m-auto Montserrat mt-10 hidden" id="booking-receipt">
            <span class="text-[20px] font-bold">Receipt</span>
            <div class="text-[18px] ml-6">
                <div class="mt-6 flex flex-row gap-[10px]">
                    <span>Booking ID:</span>
                    <span>{{ bookingDetails.id }}</span>
                </div>
                <div class="mt-6  flex flex-row gap-[10px]">
                    <span>Purok 4 Block 3 <br/>
                        Panacan Relocation <br/>
                        8000 Davao City, Philippines <br/>
                        0976 074 7797 <br/>
                        JCSD
                    </span>
                </div>
                
                <table class="w-[95%] booking-table mt-4">
                    <thead>
                        <th class="text-left w-[64%]">Description</th>
                        <th class="text-center w-[18%]">Quantity</th>
                        <th class="text-center w-[18%]">Amount</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Subtotal</b></td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Additional Fee</b></td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Total</b></td>
                            <td>12</td>
                        </tr>
                    </tbody>
                </table>
                <a 
                class="text-white cursor-pointer ml-auto mr-[46px] rounded-[10px] p-5 w-[120px] h-[50px] bg-[#00AEEF] mt-5 auto-align-middle-row text-[17px] hover:text-[18px] transition-auto"
                href="{% url 'print-booking' bookingDetails.id %}" target="_blank">Print</a>
            </div>
            
        </div>
    </div>
</div>
<script>
    function convertStringToDate(inputString) { //STRING TO DATE FUNCTION
        var parts = inputString.split(' | ');
        var dateParts = parts[0].split('-');
        var timeParts = parts[1].split(':');
        var months = ['Jan.', 'Feb.', 'Mar.', 'Apr.', 'May', 'Jun.', 'Jul.', 'Aug.', 'Sep.', 'Oct.', 'Nov.', 'Dec.'];
        var month = months[parseInt(dateParts[0], 10) - 1];
        var day = parseInt(dateParts[1], 10);
        var year = parseInt(dateParts[2], 10);
        var hour = parseInt(timeParts[0], 10);
        var minute = parseInt(timeParts[1], 10);
        var period = hour >= 12 ? 'pm' : 'am';
        if (hour > 12) {
            hour = hour - 12;
        }
        return `${month} ${day}, ${year}, ${hour}:${minute.toString().padStart(2, '0')} ${period}`;
    }
    var bookingDate = document.getElementById("booking-date")
    bookingDate.innerHTML = convertStringToDate(bookingDate.innerHTML)
</script>
<script>
    function generateReceipt(){
        bookDetailsDiv = document.getElementById("booking-details")
        receiptDiv = document.getElementById("booking-receipt")
        bookDetailsDiv.classList.add("hidden")
        receiptDiv.classList.add("flex")
        receiptDiv.classList.remove("hidden")
    }
</script>
{% endblock %}