{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>JCSD Booking System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.svg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

{% block content %}
{% endblock %}
</html>